@import url('https://fonts.googleapis.com/css2?family=Candal&family=Slabo+27px&display=swap');

body {
    margin: 0;
    /* dark forest green */
    background-color: #002D04; 

    /* brown */
    /* background-color: #c7b1a4;  */

    /* darker grey */
    /* background-color: #c4c3c8;  */

    /* background-color: #e7e7e9; */

    /* mid grey */
    /* background-color: #d5d5d7;  */
}

h1 {
    margin: 0;
    font-family: "Candal", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h2, h3, h4 {
    font-family: "Slabo 27px", serif;
}
li {
    font-family: "Slabo 27px", serif;
    font-size: 1.4rem;
}

main {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #b1c1b4;  */
    background-color: #8ea092; 
    padding: 20px 10px 20px 10px;
}
