body {
    margin: 0;
    /* brown */
    /* background-color: #c7b1a4;  */

    /* darker grey */
    /* background-color: #c4c3c8;  */

    background-color: #e7e7e9;

    /* mid grey */
    /* background-color: #d5d5d7;  */
}

h1 {
    margin: 0;
    font-size: 3rem;
}


main {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #b1c1b4;  */
    background-color: #8ea092; 
    padding: 20px 10px 20px 10px;
}
