main {
    height: 100vh;
}

.filler-header {
    margin-bottom: 210px;
}
.info h1 {
    margin-top: 40px;
}
.info h2, h3 {
    font-family: "Slabo 27px", serif;
}
.brown {
    color: #964B00;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 50px 10px;
}   

.info {
    border-radius: 10px;
    align-items: center;
    background-color: #d5d5d7;
    padding: 2%;
}

