button {
    height: 30px;
}

.button-1 {
    /* background-color: #c7b1a4;  */
    background-color: blue;
    color: white;
    border-radius: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
}
.form-button {
    color: white;
    padding: 10px 10px 10px 10px;
}
