@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.button-1 {
    background-color: #83643E; 
    --rotate: 10deg;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 5px;
    margin-left: 5px;
    border: 0;
    border-radius: 50px;
    /* background-color: #2b68d4;  */
    /* background-color: ##a08e9c; */
    position: relative;
    overflow: hidden;
}
.button-text {
    position: relative;
    color: white;
    font-family: "Slabo 27px", serif;
    font-size: 30px;
    font-weight: 800;
}
.fancy {
    position: absolute;
    inset: 0;
}
.button-1:hover .fancy {
    &:before {
        content: "";
        background: conic-gradient(from var(--rotate),
            transparent 0%, white 5%, transparent 10%);
        position: absolute;
        inset: 0;
        animation: rotate 2s linear infinite;
    }
    &:after {
        content: "";
        background: #c7b1a4; 
        /* background: #2156de; */
        position: absolute;
        inset: 2px;
        border-radius: 50px;
    }
}

@keyframes rotate {
    to {
        --rotate: 360deg;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}
.form-button {
    font-style: normal;
    color: white;
}

@media (max-width: 1010px) {
    .button-1 {
        padding: 5px 10px;
    }
    .button-text {
        font-size: 20px;
        font-weight: 800;
    }
}
