@font-face {
    font-family: 'Kabouter';
    src: url('/src/assets/fonts/Kabouter.otf') format('opentype');
}
.form-header {
    /* dark green */
    background-color: #8ea092; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 150px;
    /* padding: 0 10px 0 10px; */
}
.margin-top {
    margin: 40px 0 0 0;
}
#section-1 {
    display: flex;
    justify-content: center;
    height: 90vh;
}
.header {
    /* brown */
    /* background-color: #c7b1a4;  */

    /* light green */
    /* background-color: #b1c1b4;  */

    /* normal green */
    background-color: #8ea092; 

    /* darker grey */
    /* background-color: #c4c3c8;  */

    /* forest green */
    /* background-color: #228B22;  */

    /* dark forest green */
    /* background-color: #002D04;  */

    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    transition: 0.1s;
    width: 100%;
    height: 150px;
    z-index: 5;
    /* padding: 0 10px 0 10px; */
}

.header-active {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    /* background: rgba(255, 255, 255, 0.02); */

    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: white;
    transition: 0.1s;
    width: 100%;
    height: 150px;
    z-index: 5;
    /* padding: 50px 40px 50px 40px; */
}
.filler-header {
    width: 100%;
    height: 170px;
}
.title {
    font-size: 5rem;
    margin-left: 40px;
    font-family: "Kabouter", sans-serif;
}
.button-con {
    margin-right: 40px;
}
@media (max-width: 1650px) {
    .filler-header {
        min-height: 210px;
    }
    .header, .form-header {
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
        height: 190px;
        z-index: 5;
    }

    .header-active {
        flex-direction: column;
        justify-content: space-around;
        transition: 0.1s;
        width: 100%;
        height: 190px;
        z-index: 5;
        /* padding: 50px 40px 50px 40px; */
    }
    .title {
        margin-left: 0px;
    }
    .button-con {
        margin-right: 0px;
    }
}
.linear {
    /* background: linear-gradient(to bottom, white, transparent); */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%);
}
@media (max-width: 1010px) {
    .header, .header-active {
        height: 190px;
    }
    .title {
        text-align: center;
        font-size: 3rem;
    }
}
@media (max-width: 460px) {
    .header, .header-active {
        height: 180px;
    }
    .filler-header {
        height: 170px;
    }
    .title {
        text-align: center;
        font-size: 2rem;
    }
}

