section {
}

.section-1 {
    height: 90vh;
    background-image: url("../assets/backgrounds/nature2.jpg");
    background-position: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}    

.arrow-con {
    display: flex;
    justify-content: space-between;
}
.arrow-dark {
    width: 50px;
}
.arrow-dark:hover {
    width: 70px;
    color: white;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}
.dot.active {
    background-color: #717171;
}

.section-2 {
    height: 100vh;
    /* align-items: center; */
}    

