.section-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 100px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3; 
    position: relative;
}

/* Background container setup */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2; 
    overflow: hidden;
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* backdrop-filter: blur(15px);  */
    /* -webkit-backdrop-filter: blur(15px); */
    z-index: 1; 
    overflow: hidden;
}


.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3; 
}

.slide {
    display: none;
    z-index: 2; 
}

.slide img {
    width: 600px;
}

.fade {
    animation: fade 1.5s;
}

@media (max-width: 606px) {
    .slide img {
        width: 250px;
    }
}

.arrow-con {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    cursor: pointer;
    color: white;
    width: 50px;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}

.section-2 {
    height: 100vh;
}

