*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel-section {
    /* display: flex; */
    /* justify-content: center; */
    margin: 200px 30px 0 30px;
}   

.carousel {
    height: 80vh;
    position: relative;
    /* width: 50%; */
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.section-gray {
    display: flex;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    border-radius: 10px;
    /* mid grey */
    background-color: #d5d5d7; 
}
.section-gray h1 {
    font-size: 3rem;
} 
.section-gray h3 {
    font-family: "Slabo 27px", serif;
    font-weight: 1rem;
    font-size: 1.5rem; 
} 
.section-con {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 5% 5%;
}
    
.img-con {
    display: flex;
    /* padding: 5% 5% 5% 5%; */
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    max-width: 100%;
}
.blur-con {
    padding: 5% 5% 5% 5%;
    width: 100%;
}
.img-back {
    background-image: url("../src/assets/backgrounds/1.jpg");
    object-fit: cover;
    z-index: -3;
}
.img-blur {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    width: 100%; 
    height: 100%;
    padding: 5% 5% 5% 5%;
    z-index: -2;
}
.img-body {
    position: absolute;
    max-width: 30%;
    max-height: 5000px;
}

@media (max-width: 1200px) {
    .section-gray {
        /* justify-content: center; */
        flex-direction: column;
        z-index: -3;
    } 
    .section-gray h1 {
        font-size: 2rem;
        z-index: -1;
    } 
    #right, #left {
        align-items: center;
        padding: 5% 5% 5% 5%;
    }
    .section-gray h3 {
        font-family: "Slabo 27px", serif;
        font-weight: 1rem;
        font-size: 1rem;
        z-index: -1;
    } 
    .img-con {
        display: block;
    }
    .img-bkgrd, .img-blur {
        display: none;
    }
    .img-body {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    } 
}
@media (max-width: 500px) {
    .section-gray h1 {
        font-size: 1.5rem;
    } 
}
